*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    transition: .2s ease-in-out;
}

body{
    font-family: "Futura PT", sans-serif;
    background: #F9F9F9;
}

img{
    object-fit: cover;
}